SELECT TOP 1000 * FROM [Crash].[dbo].[Rollup]
  
SELECT TOP 1000 * FROM [Crash].[dbo].[Driver]

SELECT TOP 1000 * FROM [Crash].[dbo].[Crash]

SELECT COUNT(id) FROM [Crash].[dbo].[Rollup]
  
SELECT COUNT(id) FROM [Crash].[dbo].[Driver]

SELECT COUNT(id) FROM [Crash].[dbo].[Crash]